.expe{
  display: flex;
  align-items: center;
}
.q{
  display: flex;
  height: 650px;
  background-size: cover;
}
.s{
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  
}

.hom{

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: -webkit-linear-gradient(#1ee6b4, #C9DCB9); 
  background: -o-linear-gradient(#1ee6b4, #C9DCB9); 
  background: -moz-linear-gradient(#1ee6b4, #C9DCB9); 
  background: linear-gradient(#1ee6b4, #C9DCB9); 
  background-color: #1ee6b4; 
  /*background-image: url('https://1.bp.blogspot.com/-WjagDu7_Sk0/X8tpkLCbadI/AAAAAAAAcLs/6HzJWyGox4gJbVuvQx1Hb4y9g8p61vAVwCLcBGAsYHQ/s640/eportfolio.png');
1ee6b4
  */
  background-size: cover;
  background-position: center;
}
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
/*estilos de avatar__________________*/
.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


/*fin de estilos del avatar ---------------*/

/*estilos del formulario de contacto----------------------------------------------------*/

.wrapper {
  width: 500px;
  height: 50%;
  margin: 0% auto 0 auto; 
}

/* form animation starts */
.form {
  background: #EBEBEB;
  text-align: center;
  box-shadow: 0px 0px 20px 5px #AAA;
  border-radius: 10px;
  width: 85%;
  height: 400px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;
  animation: bounce 1.5s infinite;
  -webkit-animation: bounce 1.5s infinite;
}

.name { 
  background-color: #3f363a;
  border-bottom: 5px solid #3f363a;
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.name:hover{
  background-color: #3f363a;
  border-bottom: 5px solid #3f363a;
  color: white;
  height:30px;
  width:400px;
}

.email {
  background-color: #3f363a;  
  border-bottom: 5px solid #3f363a;
  color: white;
  height:50px;
  width:300px;
  
}
.email:hover{
  background-color: #3f363a;  
  border-bottom: 5px solid #3f363a;
  color: white;
  height:30px;
  width:380px;
 
}
.message {   
  background-color: rgb(29, 25, 22);
  border-bottom: 5px solid rgb(19, 14, 13);
  color: white;
  overflow: hidden;
  height: 100px;  
  width:300px;
}

.message:hover{
  background-color: #3f363a;
  border-bottom: 5px solid #3f363a;
  height: 100px;
  width:370px;
}

.submit{
  border-radius:5px;
  padding:10px;
  background-color: #2DD7BB;  
  border: none;
  border-bottom: 5px solid #0dbcc2; 
  transform: translateY(-120px); 

}

.submit:hover{
  border-bottom: 5px solid #0f97d6;  
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #063642;  
}

/* Shadow to make it look like form is floating  */
.shadow{
  box-shadow: 0px 0px 60px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 50%; 
  margin: 50px auto 0 auto;
  padding: 0 20px;  
  animation: shadow 1.5s infinite;
}
.submit{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color: #3f363a;  
  border: none;
  border-bottom: 5px solid #3f363a; 
  margin-top: 150px; 

}



@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }

}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}




/*fin de estilos de formulario----------------------------------------------------------*/


.todo{
  padding: 1px;
  margin-left: 6rem;
 
}
